

version: "3.9"

services:
  app:
    build: ..
    container_name: ai_fact_checker
    expose:
      - "8000"
    env_file:
      - ../.env
    restart: always

  nginx:
    image: nginx:latest
    container_name: ai_fact_checker_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always